body {
  margin: 0;
  width: 100%;
  background-color: #f2f2f2;
  font-family: "Roboto", sans-serif;
}

#root {
  padding: 0;
  margin: 0;
  height: 100vh;
}

h1 {
  font-family: "jua" sans-serif;
  color: #275c80;
}
